* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
  
  h1 {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
  
  header {
    /* position: sticky; */
    background-color: #4cd038;
    /* background-color: transparent; */
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  
  .logo img {
    width: 80px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  .navbar-toggle {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
  }
  
  .navbar {
  
    /* background-color: #333; */
    background: linear-gradient(to bottom, #999,#5DD54B );
    color: #fff;
    display: none;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 25%;
    z-index: 1;
    overflow-y: auto; /* Enable vertical scroll if needed */
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin-top: 100px; /* Adjust top margin for space above close icon */
  }
  
  .menu li {
    text-align: center;
    justify-content: center;
    margin-bottom: 25px; /* Increased margin between list items */
  }
  
  .menu li:last-child {
    margin-bottom: 0;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em; /* Increased font size for list items */
  }
  
  .close-icon {
    font-size: 3em;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .home_page img{
      height: auto;
      width: 100%;
      background-size: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
  }
  .overlay {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
      z-index: 1; /* Ensure the text appears above the image */
    }
  
  h1{
      font-size: 50px;
      font-weight: bold;
      padding-bottom:20px;
  }
  .collection{
      font-size: 20px;
      padding-bottom:25px;
  }
  #upload_btn{
      width: 140px;
      height: 48px;
      background-color: #F7FCF7;
      color: #4F964F;
      border-color:#F7FCF7;
      border-radius: 12px;
      font-weight: bold;
  }  
  #upload_btn:hover{
      color:#F7FCF7;
      background-color: transparent;
      border-color: #F7FCF7;
      font-weight: bold;
      border: 2px solid #F7FCF7; 
      
  }
  
  /* Wordings */
  
  h2{
      text-align: left;
      font-size: 36px;
      padding-top: 30px;
      padding-bottom:15px;
  }
  #collection{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .collections {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 20px;
      /* margin-top: 65px; */
    }
    
    .content, .content2{
      display: flex;
      /* flex-wrap: wrap; */
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      max-width: 560px;
      margin: 20px;
      position: relative;
      max-width: 560px;
      max-height: 350px;
      margin-top:30px;
      /* background-color:#ecdddd; */
      box-shadow: 1px 4px 8px 4px rgba(0, 0, 0, 0.1);
    }
    .cont1{
      padding:15px;
    }
   .content_img1{
      /* max-width: 90%; */
      max-height: 348px;
      margin-top: 3px;
      /* margin-left:50px; */
      /* margin-top: 100px; */
      border-radius: 0% 00% 0% 50%;
   } 
    /* //........ Content 2 ........// */
  
    .content_img2{
      /* max-width: 90%; */
      max-width: 350px;
      height: 350px;
      /* margin-left:50px; */
      margin-top: 3px;
      border-radius: 0% 00% 0% 50%;
   } 
   .collections {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* margin-top: 65px; */
  }
  
  .content11 {
    max-width: 560px;
    margin: 20px;
    position: relative;
  }
  
  /* //........ Footer ...... // */
  
  footer {
      width: 100%;
      background-color: #4cd038;
      margin:0px;
    }
    
    .footer-container {
      display: flex;
      justify-content: space-between;
      padding: 12px 0;
    }
    
    .f-design {
      width: 100%;
      text-align: center;
    }
    
    .f-design .f-design-txt {
      /* padding: 25px 0; */
      padding-top:10px;
      padding-bottom:30px;
      font-size: 14px;
      color: white;
    }
    .nav {
      display: flex; /* Make the nav a flex container */
      align-items: center; /* Vertically center align items */
    }
    
    .menu1 {
      list-style: none;
      padding:0px;
      margin: 0; /* Remove default margin */
      display: flex; /* Make the menu a flex container */
    
    }
    
    .li1, .li2 {
      margin-right: 80px; /* Add spacing between menu items */
    
    }
    .li3{
      margin-right:18px;
    }
    li a {
      color:#fff;
      text-decoration: none;
    }  
  /* Responsive */
  @media(min-width:768px){
    .navbar-toggle {
      display: none; /* Hide the hamburger icon */
    }
  }
  @media(max-width:767px){
    .nav{
      display: none;
    }
  }
    
  /* Responsive */
  @media (max-width:1280px){
    .overlay {
      /* position: absolute; */
      top: 50%;
      /* left: 50%; */
      /* transform: translate(-50%, -50%); */
      text-align: center;
      color: white;
      z-index: 1; /* Ensure the text appears above the image */
    }
    h1{
      font-size:38px;
    }
    .collection{
      font-size: 18px;
      padding-bottom:25px;
    }
    #upload_btn{
      width: 120px;
      height: 38px;
    }  
    .content{
      font-size: 18px;
    }
    .cont1{
      font-size:18px;
    }
    .cont2{
      font-size:18px;
    }
    h2{
      font-size:26px;
    }
    .content2 {
      padding-top:66px;
    }
  
  }
  @media (max-width:1025px){
    .overlay {
      /* position: absolute; */
      top: 26%;
      /* left: 50%; */
      /* transform: translate(-50%, -50%); */
      text-align: center;
      color: white;
      z-index: 1; /* Ensure the text appears above the image */
    }
    h1{
      font-size:34px;
    }
    .collection{
      font-size: 18px;
      padding-bottom:25px;
    }
    #upload_btn{
      width: 120px;
      height: 38px;
    }  
    h2{
      font-size:26px;
    }
    .content2 {
      padding-top:60px;
    }
  }
  @media (max-width:912px){
    .overlay {
      /* position: absolute; */
      top: 26%;
      /* left: 50%; */
      /* transform: translate(-50%, -50%); */
      text-align: center;
      color: white;
      z-index: 1; /* Ensure the text appears above the image */
    }
    h1{
      font-size:30px;
    }
    .collection{
      font-size: 16px;
      padding-bottom:25px;
    }
    #upload_btn{
      width: 120px;
      height: 38px;
    }  
    h2{
      font-size:22px;
    }
    .content2 {
      padding-top:0px;
    }
    .content{
      font-size: 16px;
    }
  }
  @media (max-width:820px){
    .overlay {
      /* position: absolute; */
      top: 26%;
      /* left: 50%; */
      /* transform: translate(-50%, -50%); */
      text-align: center;
      color: white;
      z-index: 1; /* Ensure the text appears above the image */
    }
    h1{
      font-size:28px;
    }
    .collection{
      font-size: 15px;
      padding-bottom:25px;
    }
    #upload_btn{
      width: 120px;
      height: 34px;
    }  
    h2{
      font-size:22px;
    }
    .content2 {
      padding-top:0px;
    }
    .content{
      font-size: 15px;
    }
  }
  @media (max-width:854px){
    .overlay {
      /* position: absolute; */
      top: 24%;
      /* left: 50%; */
      /* transform: translate(-50%, -50%); */
      text-align: center;
      color: white;
      z-index: 1; /* Ensure the text appears above the image */
    }
    h1{
      font-size:26px;
    }
    .collection{
      font-size: 14px;
      padding-bottom:25px;
    }
    #upload_btn{
      width: 120px;
      height: 34px;
    }  
    h2{
      font-size:20px;
    }
    .content2 {
      padding-top:0px;
    }
    .content{
      font-size: 14px;
    }
  }
  @media (max-width:768px){
    .overlay {
      /* position: absolute; */
      top: 28%;
      /* left: 50%; */
      /* transform: translate(-50%, -50%); */
      text-align: center;
      color: white;
      z-index: 1; /* Ensure the text appears above the image */
    }
    h1{
      font-size:26px;
    }
    .collection{
      font-size: 14px;
      padding-bottom:25px;
    }
    #upload_btn{
      width: 120px;
      height: 34px;
    }  
    h2{
      font-size:20px;
    }
    .content2 {
      padding-top:0px;
    }
    .content{
      font-size: 14px;
    }
  }
  @media (max-width:541px){
    .overlay {
      /* position: absolute; */
      top: 32%;
      /* left: 50%; */
      /* transform: translate(-50%, -50%); */
      text-align: center;
      color: white;
      z-index: 1; /* Ensure the text appears above the image */
    }
    h1{
      font-size:18px;
      padding-bottom:10px;
    }
    .collection{
      font-size: 12px;
      padding-bottom:20px;
    }
    #upload_btn{
      max-width: 92px;
      height: 28px;
      font-size: 11px;
    }  
    h2{
      font-size:16px;
    }
    .content2 {
      padding-top:0px;
    }
    .cont1{
      text-align: left;
      font-size:12px;
    }
    .cont2{
      font-size:12px;
    }
    .content, .content2{
      display: flex;
      /* flex-wrap: wrap; */
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      max-width: 560px;
      margin: 20px;
      position: relative;
      max-width: 348px;
      max-height: 450px;
      margin-top:20px;
      /* background-color:#ecdddd; */
      box-shadow: 1px 4px 8px 4px rgba(0, 0, 0, 0.1);
    }
    
   .content_img1{
      /* max-width: 90%; */
      max-height: 348px;
      margin-bottom: 0px;
      border-radius: 0%;
      /* margin-left:50px; */
      /* margin-top: 100px; */
      /* border-radius: 0% 00% 0% 50%; */
   } 
    /* //........ Content 2 ........// */
  
    .content_img2{
      /* max-width: 90%; */
      max-width: 350px;
      height: 350px;
      /* margin-left:50px; */
      margin-top: 3px;
      border-radius:0%;
      /* border-radius: 0% 00% 0% 50%; */
   } 
  }
  @media (max-width:431px){
    .overlay {
      /* position: absolute; */
      top: 19%;
      /* left: 50%; */
      /* transform: translate(-50%, -50%); */
      text-align: center;
      color: white;
      z-index: 1; /* Ensure the text appears above the image */
    }
    h1{
      text-align: center;
      font-size:14px;
      padding-bottom:10px;
    }
    .collection{
      font-size: 12px;
      padding-bottom:20px;
    }
    #upload_btn{
      max-width: 70px;
      height: 22px;
      font-size: 8px;
      border-radius: 10px;
    }  
    h2{
      font-size:14px;
    }
    .content2 {
      padding-top:0px;
    }
    .cont1{
      font-size:12px;
    }
    .cont2{
      font-size:12px;
    }
    header {
      /* position: sticky; */
      background-color: #4cd038;
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 10px;
    }
    .logo img {
      width: 60px; /* Adjust the width as needed */
      height: auto; /* Maintain aspect ratio */
    }
    .close-icon {
      font-size: 2em;
      padding-bottom: 3px;
      /* top: 5px; */
      /* right: 10px; */
    }
    .footer-container {
      padding: 0;
    }
    .f-design .f-design-txt {
      /* padding: 25px 0; */
      padding-top:25px;
      /* padding-bottom:30px; */
      font-size: 12px;
      color: white;
    }
    .navbar {
  
      background-color: #333;
      color: #fff;
    
      height: 100%;
      width: 100%;
  
    }
    /* Add this CSS to hide header content when navbar is open */
    .navbar.active + header {
      display: none;
    }
    .overlay.hide{
      display: none;
    }
  }
  @media (max-width:391px){
    .overlay {
      /* position: absolute; */
      top: 20%;
      /* left: 50%; */
      /* transform: translate(-50%, -50%); */
      text-align: center;
      color: white;
      z-index: 1; /* Ensure the text appears above the image */
    }
    h1{
      text-align: center;
      font-size:12px;
      padding-bottom:8px;
    }
    .collection{
      font-size: 10px;
      padding-bottom:10px;
    }
    #upload_btn{
      max-width: 70px;
      height: 22px;
      font-size: 8px;
      border-radius: 10px;
    }  
    h2{
      padding-top:5px;
      font-size:12px;
    }
    .cont1{
      font-size:10px;
    }
    .cont2{
      font-size:10px;
    }
  
   
  }
  @media (max-width:376px){
    .overlay {
      /* position: absolute; */
      top: 25%;
      /* left: 50%; */
      /* transform: translate(-50%, -50%); */
      text-align: center;
      color: white;
      z-index: 1; /* Ensure the text appears above the image */
    }
  }
  @media (max-width:361px){
    .overlay {
      /* position: absolute; */
      top: 21%;
      /* left: 50%; */
      /* transform: translate(-50%, -50%); */
      text-align: center;
      color: white;
      z-index: 1; /* Ensure the text appears above the image */
    }
  }
  
  
  
  
  
  