header{
    margin:0px;
}
section{
    display: flex;
    justify-content: center;
}
.upload_card{
    width:85%;
    height: 560px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: row;
    margin:58px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); 
}
.image{
    width:50%;
    position: relative;
    overflow: hidden;
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Or use 'contain' depending on your preference */
}
.upload_btns{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:50%;
}
button{
    font-family: 'Plus Jakarta Sans', sans-serif;
    width: 200px;
    height: 50px;
    background-color:#4CD038;
    color:white;
    border-radius: 9px;
    border: 1px ; /* Add border color here */
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    margin:40px;
    margin-top:0px;
}
  button:hover{
    color:#4CD038;
    font-weight: bold;
    background-color: transparent;
    border:2px solid;
    border-color:#4CD038;
  }
  #upload-button{
    width:200px;
    height:50px;
}

.custom-file-upload{
    font-family: Georgia;
    color:white;
    background-color:#4CD038;
    border-radius: 9px;
    border: 1px ; /* Add border color here */
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    width:100px;
    height:50px;
    /* font-weight: bold; */
    padding:14px 36px;
    /* margin-left:30px; */
    /* margin-top:100px; */
    font-family: 'Plus Jakarta Sans', sans-serif;
   
}

.custom-file-upload:hover{
    color:#4CD038;
    background-color: transparent;
    border:2px solid;
    border-color:#4CD038;
    /* font-weight: bold; */
    width:180px;
    height:50px;
    
  }

#upload-button1{
    margin-top:40px;
}
.label{
    margin-top:20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.image-con2{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#result_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h2{
    font-size: 32px;
    margin-bottom:40px;
}
p{
    font-size: 20px;
    margin-top:10px;
    
}
#btns{
    width:120px;
    height:40px;
    margin-top:50px;
    
}

#upload-button1{
    display:none;
}
/* .upload_btns{
    display:block;
} */

@media (max-width:541px){
    .upload_card{
        width:95%;
        /* min-height: 560px; */
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
        flex-direction: column;
        margin:50px 30px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); 
    }
    .image{
        width:100%;
        height:50%;
        position: relative;
        overflow: hidden;
    }
    .image img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Or use 'contain' depending on your preference */
    }
    .image-con2{
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }
    .upload_btns{
        display : flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%;
        height:50%;
        /* font-size: 12px; */
        /* margin-top:60px; */

    }
    .h2{
        font-size: 24px;
        margin-bottom: 10px;
    }
    p{
        font-size: 16px;
    }
    #btns{
        font-size: 14px;
        width:100px;
        margin:0px;
        margin-top:35px;
        margin-left:10px;
        margin-right:10px;
    }
}


/* @media only screen and (min-width: 481px) and (max-width: 768px) */
@media only screen and (max-width:830px) and (min-width:750px){
    .h2{
        font-size: 24px;
        margin-bottom: 10px;
    }
    p{
        font-size: 16px;
    }
    #btns{
        font-size: 14px;
        width:100px;
        margin:0px;
        margin-top:35px;
        margin-left:10px;
        margin-right:10px;
    }
}

@media (max-width:820px) {
    .h2{
        font-size: 24px;
        margin-bottom: 10px;
    }
    p{
        font-size: 16px;
    }
    #btns{
        font-size: 14px;
        width:100px;
        margin:0px;
        margin-top:35px;
        margin-left:10px;
        margin-right:10px;
    }
}